[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
pulp = "*"
django-cors-headers = "*"
django-ses = "*"
python-dotenv = "*"
watchtower = "*"
awscli = "*"
mysqlclient = "*"
mysql = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
